#content {padding-top:30px;position:relative;}
#content > .title {padding-left:110px;}
#content > .title > .statusDot {width:40px;height:40px;padding:5px;float:left;}
#content > .title > .statusDot > .inner {width:100%;height:100%;border-radius:50%;background:center center no-repeat;background-size:24px 24px;}
#content > .title > .roomNum {height:40px;line-height:40px;padding-left:5px;font-size:32pt;text-align:left;overflow:hidden;}
#content > .statusText {height:30px;line-height:30px;margin-top:10px;}
#content > .mbName {margin-top:5px;}
#content > .checkTime {margin-top:15px;}
#content > .checkTime > .title {padding-left:70px;font-size:20pt;text-align:left;color:#AAA;}
#content > .checkTime > .desc {font-size:30pt;}
#content > .btnWrap {margin-top:15px;}
#content > .btnWrap > .icon {width:95px;height:95px;margin:0 auto;background:top center no-repeat;background-size:95px 190px;}
#content > .btnWrap > .text {font-size:17pt;color:#15CAFF;}
#content > .btnWrap.inspection > .icon {background-image:url('./images/common_btn_inspection.png');}
#content > .btnWrap.comment > .icon {background-image:url('./images/common_btn_comment.png');}


#content.vc {}
#content.vc > .title > .statusDot > .inner {background-color:#00C9FF;}
#content.vc > .title > .roomNum {color:#00C9FF;}
#content.vc > .statusText {color:#00C9FF;}

#content.oc {}
#content.oc > .title > .statusDot > .inner {background-color:#00C9FF;background-image:url('./images/stairOverview_occupied.png');}
#content.oc > .title > .roomNum {color:#00C9FF;}
#content.oc > .statusText {color:#00C9FF;}

#content.vd {}
#content.vd > .title > .statusDot > .inner {background-color:#F8E71C;}
#content.vd > .title > .roomNum {color:#F8E71C;}
#content.vd > .statusText {color:#F8E71C;}

#content.od {}
#content.od > .title > .statusDot > .inner {background-color:#F8E71C;background-image:url('./images/stairOverview_occupied.png');}
#content.od > .title > .roomNum {color:#F8E71C;}
#content.od > .statusText {color:#F8E71C;}